body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold; /* Make the heading bold */
}

header p {
    font-size: 1.2em;
}

section {
    padding: 40px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #333;
    font-size: 1.8em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

label {
    font-size: 1.5em;
}

select, input {
    width: 100%;
    max-width: 300px;
    font-size: 1.5em;
}

button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
}

button:hover {
    background-color: #555;
}

#planTripForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h3 {
    color: #333;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.hidden {
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
}

/* Add styles for the container and forms */
#planTripForm {
    display: none; /* Initially hide the container */
    display: flex;
    justify-content: space-between; /* This will create space between the forms */
}

/* Adjust styles for individual forms within the container */
.budget-form,
.task-form {
    width: 48%; /* Set a width for each form to create a gap between them */
}

#first_one {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 650px;
   height: 500px;
   margin-left: 325px;
   background-color: #c7ff5e;
}