body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    font-size: 8em;
}

header p {
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #333;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

label {
    font-size: 1.5em;
}

select, input {
    width: 100%;
    max-width: 300px;
    font-size: 1.5em;
}

button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
}

button:hover {
    background-color: #555;
}

#generated-itinerary {
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
}

.tum{
	text-shadow: 3px 3px 6px red;
	font-size: 50px;
	color: lightgoldenrodyellow;
}